modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Minecraft Plugin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Minecraft Server"

[[workflows.workflow]]
name = "Build Minecraft Plugin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package"

[[workflows.workflow]]
name = "Minecraft Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar -Xmx1G -Xms1G spigot.jar nogui"
waitForPort = 25565

[deployment]
run = ["sh", "-c", "mvn clean package"]
